@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors! (Dark Theme)
@use '@material/theme/index' as theme with (
	$primary: #0bdbfb,
	$secondary: #112240,
	$surface: #112240,
	$background: #091424,
	$error: color-palette.$red-700,
	$on-surface: #d7d8da,
	$on-primary: #d7d8da,
	$on-secondary: #d7d8da
);

@use '@material/elevation/mdc-elevation';

:root {
	--font-family: 'Titillium Web', sans-serif !important;
}
html,
body {
	color-scheme: dark;
	background-color: #091424;
	color: theme.$on-surface;
	margin: 0px;
	height: 100vh;
	font-family: var(--font-family);
}

// scroll
$scroll-bg: theme.$secondary;
$scroll-color: color.scale(#3dc2ff, $lightness: -45%);
/* Works on Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: $scroll-color $scroll-bg;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 8px;
}

*::-webkit-scrollbar-track {
	background: $scroll-bg;
}

*::-webkit-scrollbar-thumb {
	background-color: $scroll-color;
	border-radius: 20px;
}

// Dialog
.mdc-dialog {
	z-index: 11 !important;
	.mdc-dialog__scrim {
		background-color: rgba(17, 34, 64, 0.5) !important;
	}

	.mdc-button.mdc-dialog__button {
		flex: 1;
	}
}

// input fields
.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
	color: var(--mne-color-light) !important;
	font-family: var(--font-family);
}

// Links
a {
	color: #3dc2ff;
}
a:visited {
	color: color.scale(#3dc2ff, $lightness: -35%);
}
.mdc-top-app-bar {
	background-color: theme.$surface;
}

.mdc-drawer.mdc-drawer--open:not(.mdc-drawer--closing) + .mdc-drawer-app-content.app-content {
	margin-left: 370px;
}
.mdc-drawer {
	width: 370px !important;
}

.icon-button .mdc-button .mdc-button__icon {
	margin: 0px;
}

.primary-color {
	color: theme.$primary !important;
}
.secondary-color {
	color: #3dc2ff !important;
}
.dark-color {
	color: var(--mne-color-dark) !important;
}
.light-color {
	color: var(--mne-color-light) !important;
}
.shade-color {
	color: var(--mne-color-shade) !important;
}

:root {
	--mne-color-warning: #ffc409;
	--mne-color-error: #eb445a;
	--mne-color-success: #2dd36f;

	--mne-color-dark: #424242;
	--mne-color-light: #f5f6f9;
	--mne-color-shade: #9d9fa6;

	--mne-color-primary: #0bdbfb;
}
